.mainContainer, .mainContainerNotFound {
    width: 76.4vw;
    height: 76vh;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    background-color: rgba(224, 255, 255, 0.7);
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
    gap: 1rem;
}

.mainContainerNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}